[flake8]
max-line-length = 88
# Compatibilidad con Black + no pelear por líneas largas
extend-ignore = E203, W503, W391, E501

exclude =
    venv,
    .venv,
    .git,
    .github,
    */migrations/*

# Rutas relativas a donde se ejecuta flake8 (en el CI se ve como junta_ut/... y core/...)
per-file-ignores =
    junta_ut/settings/base.py:  F403, F405
    junta_ut/settings/dev.py:   F401, F403, F405
    junta_ut/settings/prod.py:  F403, F405
    junta_ut/urls.py:           F401
    core/urls.py:               F401
